<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
    <p style="text-align: center;">{{ flatpage.content }}</p>
    <p>&nbsp;</p>
<p style="text-align: center;">{{ flatpage.content }}</p>
<p>&nbsp;</p>
<p style="text-align: center;">Ты помнишь это чувство, когда внутри будто дыра?</p>
<p style="text-align: center;">И хочется вывалить мозг, и промыть его от всех воспоминаний?</p>
<p style="text-align: center;">И, еще кажется, что всё это повторяется по кругу</p>
<p style="text-align: center;">И ты, будто, понимаешь что происходит</p>
<p style="text-align: center;">Но не знаешь как этот самый круг разорвать...</p>
<p style="text-align: justify;">&nbsp;</p>
</body>
</html>